.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-modal-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    width: 500px;
    background: #fff;
    z-index: 9999;
    border-radius: 10px;
    &__content {
        padding: 20px;
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__title {
                font-size: 24px;
                font-weight: 900;
                color: #000;
                margin-bottom: 64px;
            }
        }
        &__body {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            &__input {
                margin-bottom: 50px;
                & input {
                    width: 100%;
                    font-size: 14px;
                    line-height: 19px;
                    border: none;
                    border-bottom: 2px solid;
                    border-bottom-color: #E5E5E5;
                    &:focus {
                        outline: none;
                        border-bottom-color: #000000;
                    }
                }
                &__error {
                    color: #FF0000;
                    font-size: 12px;
                    line-height: 15px;
                    margin-top: 5px;
                }
            }   
        }
        &__footer {
            &__button {
                height: 32px;
                border-radius: 20px;
                background: #000;
                color: #fff;
                padding: 5px 15px;
                font-size: 14px;
                font-weight: 500;
                border: none;
                cursor: pointer;
            }
        }
    }
}