@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: #FAFAFA 0% 0% no-repeat padding-box;
}

.heading {
  font-size: 40px;
  line-height: 53px;
  font-weight: 900;
  color: #000000;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.px-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.category {
  &__button {
    cursor: pointer;
    background: #EAEAEA 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    font-size: 14px;
    padding: 7px 16px;
    line-height: 19px;
    font-weight: 600;
    letter-spacing: 0px;
    margin: 6px 10px 6px 0px; 
    color: #7E7E7E;
    border: none;
    &:disabled {
      opacity: 0.3;
    }
  }
  &__active {
    color: #000000;
    background: #00F0C2 0% 0% no-repeat padding-box;  
  }
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  opacity: 1;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 16px #00000010;
  border: 1px solid #E5E5E5;
  padding: 5px 10px;
  border-radius: 20px;
  margin-top: 10px;
  &__icon {
    color: #EBEBEB;
    & svg {
      fill: #EBEBEB;
    }
  }
  &__field {
    border: none;
    border-radius: 20px;
    font-size: 14px;
    line-height: 19px;
    color: #b3b3b3;
    flex-grow: 1;
    &:focus {
      outline: none;
    }
  }
}

.news-list {
  display: flex;
  flex-direction: column;
}

.news-item {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 16px #00000010;
  border: 1px solid #E5E5E5;
  border-radius: 6px;
  opacity: 1;
  padding: 26px 24px 32px 30px;
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  &__content {
    margin-right: 50px;
    flex-grow: 1;
  }
  &__title {
    text-align: left;
    font: normal normal bold 16px/21px Roboto;
    letter-spacing: 0px;
    color: #212121;
    opacity: 1;
    margin:0;
    margin-bottom: 4px;
  }
  &__info {
    font-size: 12px;
    display: flex;
    align-items: center;
    font-weight: medium;
    line-height: 16px;
    letter-spacing: 0px;
    color: #989898;
    margin-bottom: 11px;
    &__dot {
      height: 4px;
      width: 4px;
      background-color: #989898;
      border-radius: 50%;
      display: inline-block;
      margin: 0px 13px;
    }
  }
  &__description {
    font-size: 14px;
    font-weight: normal;
    line-height: 19px;
    letter-spacing: 0px;
    color: #393939;
    opacity: 1;
    margin:0;
  }
  &__image{
    & img {
      border-radius: 9px;
      height: 146px;
      width: 146px;
      object-fit: cover;
    }
  }
}

.loader {
  text-align: center;
  margin-top: 20px;
  font-style: italic;
}

@media (min-width: 1200px) {
  .container {
      max-width: 690px;
  }
}

@media (max-width: 1200px) and (min-width: 768px) {
  .container {
      max-width: 690px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 520px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    width: 100%;
  }
  .news-item {
    flex-direction: column-reverse;
    padding: 15px;
    &__content {
      margin-right: 0px;
      margin-top: 5px;
    }
    &__image{
      & img {
        border-radius: 6px;
        height: 146px;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}